html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

#title {
  text-align: center;
}

#chart {
  position: relative;
  width: 800px; 
  height: 400px;
}

#legend {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

.dot {
  stroke: #333;
  stroke-width: 1;
  fill: blue; /* Default fill color */
}

.dot.doping {
  fill: red;
}

.dot:hover {
  cursor: pointer;
}

#tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.border {
  border: 2px solid #333;
  padding: 20px;
  max-width: 960px;
  background-color: white;
}
